@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
   --font-manrope: "Manrope", sans-serif; 
}
::-webkit-scrollbar {
  width: 10px;
}
 
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 7px #dedddd;
  border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
  background: var(--2-color-grad, linear-gradient(133deg, #9CE7DC 2.91%, #018E81 100%));
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--2-color-grad, linear-gradient(133deg, #9CE7DC 2.91%, #018E81 100%));
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}




body {
  background: var(--background);
  color: var(--foreground);
 font-family: var(--font-manrope);
}
